// input{
//     height: 28px;
//     font-size: x-small;
//     font-family: 'Gilroy', sans-serif;
// }
// select{
//         height: 28px;
//         font-size: x-small;
//         font-family: 'Gilroy', sans-serif;
// }
// option{
//     font-size: x-small;
//     font-family: 'Gilroy', sans-serif;
// }
// table{
//     font-size: 11px;
//     font-family: 'Gilroy', sans-serif;
//     button{
//         // background-color: #3d4eb1;
//     color: black;
//     font-size: 14px;
//     // width: 75%;
//     }
// }

// .timesheet-table{
//     td {
//         text-align: center;
//         font-family: 'Gilroy', sans-serif;
//     }
// }

// .header-detail{
//     input{
//         width: 113%;
//     }
//     select{
//         width: 113%;
//     }
//     label{
//         font-size: 11px;
//         font-weight: bold;
//         font-family: 'Gilroy', sans-serif;
//     }
// }

// .row-btn{
//     button {
//         border-style: solid;
//     border-width: thin;
//     border-color: black;
//     margin-right: 6px;
//     font-size: 12px;
//     }
//     margin-top: -11px;
// }

// .submit-btn{
//     margin-left: 46%;
//     button{
//         background-color: #3d4eb1;
//     color: white;
//     }
// }

// .colunm{
//     width: 10%;
// }

// .required{
//     color: red;
//     font-size: 19px;
    
// }

// .isRequired{
// border-color: red;
//     border-style: solid;
//     border-width: 3px;
//     border-radius: 5px;
// }

.isFilled{
background-color: yellowgreen;
}

div{
    color: dimgray;
}

td,th{
    text-align: center;
    color: dimgray;
}