// /* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.cdnfonts.com/css/gilroy');
                
.main-container{
    background-image: url('./assets/top-view-festive-christmas-ornaments-with-copy-space.jpg');
    margin: 2%;
    font-size: 15px;
    font-family: sans-serif;
    // font-size: x-small;
}

input{
    height: 30px;
    font-size: 12px !important;
}
select{
    height: 30px;
    font-size: 12px !important;
}
option{
    height: 30px;
    font-size: 12px !important;
}